@charset "utf-8";
// 图片垂直居中
// $height:父级元素高度
@mixin imgMiddle($height){
   vertical-align: middle;
   height:$height;
   line-height: $height;
   &{
    	*display: block;
        *font-size:$height*0.873;/*约为高度的0.873，200*0.873 约为175*/
        *font-family:Arial;/*防止非utf-8引起的hack失效问题，如gbk编码*/
   }
}
