@charset "utf-8";
@mixin ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;

   
        *text-indent: -150%;
    

    &:before {
        content: "";
        display: block;
        width: 0;
        height: 150%;
    }
}